@tailwind base;
@tailwind components;
@tailwind utilities;
 
 @import url('https://fonts.cdnfonts.com/css/sf-pro-display');
   
 @font-face {  
  font-family: "nohemi";
     src: url("./font/Nohemi-Thin.ttf");
     font-weight: 100;
 }
 @font-face {
  font-family: "nohemi";
  src: url("./font/Nohemi-ExtraLight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "nohemi";
  src: url("./font/Nohemi-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "nohemi";
  src: url("./font/Nohemi-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "nohemi";
  src: url("./font/Nohemi-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "nohemi";
  src: url("./font/Nohemi-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "nohemi";
  src: url("./font/Nohemi-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "nohemi";
  src: url("./font/Nohemi-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "nohemi";
  src: url("./font/Nohemi-Black.ttf");
  font-weight: 900;
}





.animate-fade-in {
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translate(0, 20px);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }

.o{
  font-family: "nohemi", sans-serif !important;
  letter-spacing: .1rem !important;
}

h1, p{
  font-family: "SF Pro Display", sans-serif !important;
}

  body{
	background: #000000;
  overflow-x: hidden;
  max-width: 100vw;
  font-family: 'SF Pro Display', sans-serif !important;
  
  }

  .logo {
	display: flex;
	justify-content: center;
	align-items: center;
  }

  .bg-blur {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(50px);
  }

  .logo {
    animation: fade-in 1s ease-in-out forwards;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translate(0, 20px);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }

  .gradient-text {
    background: linear-gradient(to right, #f1ad02, #eb3ba2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .gradient-border {
    border-color: linear-gradient(to right, #f1ad02, #eb3ba2);
   
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0, 0, 0);
    filter: blur(60px);
    -webkit-backdrop-filter: blur(10px);
    z-index: -1;
  }
  
  .glass {
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
  }





  .scroll-container {
    height: 400px; /* Set a specific height for the container */
    overflow-y: scroll; /* Enable vertical scrolling */
  }
  
  .scroll-image {
    transform: translateY(0); /* Initial position */
    transition: transform 0.3s ease-out; /* Add a smooth transition */
  }
  
  .scroll-container::-webkit-scrollbar {
    width: 5px; /* Customize the scrollbar width */
  }
  
  .scroll-container::-webkit-scrollbar-thumb {
    background-color: #888; /* Customize the scrollbar thumb color */
  }




